# This is a comment.
# Each line is a file pattern followed by one or more owners.

# pconrad: (Instructor M23)
# jingpeng7527: Jing Peng (TA M23)
# drikdrok: Christian Schwenger (LA M23)
# GDW1: Guy Wilks (LA M23)

* @scottpchow23 @andrewpengucsb @AnikaArora @sangitakunapuli @tallyhawley @Aasish-Virjala @whuang602

