# This is a comment.
# Each line is a file pattern followed by one or more owners.

# pconrad: (Instructor M23)
# jingpeng7527: Jing Peng (TA M23)
# drikdrok: Christian Schwenger (LA M23)
# GDW1: Guy Wilks (LA M23)

* @pconrad @jingpeng7527 @andrewpengucsb @GlassBricks @sangitakunapuli @LeonFeng0325 @briggsrrr
